<header class="header">
  <a href="#" class="logo">dherrera<span>dev</span></a>

  <nav class="navbar">
    <a href="#home" style="--i:1;" class="active">Inicio</a>
    <a href="#about" style="--i:2;">Sobre mí</a>
    <a href="#services" style="--i:3;">Servicio</a>
    <a href="#portfolio" style="--i:4;">Portafolio</a>
    <a href="#contact" style="--i:5;">Contactar</a>
  </nav>

  <!-- <div>
    <div>
      <div>
        <span class="fi fi-es"></span>
        <span class="ml-2">ES</span>
      </div>
    </div>
    <div role="menu">
      <div>
        <a role="menuitem" href="/es/about">
          <span class="fi fi-us"></span>
          <span class="ml-2">Ingles</span>
        </a>
        <a role="menuitem" href="/es/about">
          <span class="fi fi-es"></span>
          <span class="ml-2">Español</span>
        </a>
      </div>
    </div>
  </div> -->

  <div class="bx bx-moon" id="toggle-icon"></div>

  <div class='bx bx-menu' id="menu-icon"></div>
</header>