<!-- home section desing -->
<!-- <section class="home" id="home">
  <div class="home-content">
    <h3>Hola, soy yo</h3>
    <h1>Deivis Herrera Julio</h1>
    <h3>Y yo soy <span class="multiple-text"></span></h3>

    <div class="social-media">
      <a href="https://twitter.com/deivisaherreraj" target="_blank" style="--i:6;"><i class='bx bxl-twitter'></i></a>
      <a href="#" style="--i:7;"><i class='bx bxl-instagram'></i></a>
      <a href="https://youtube.com/@deivisandresherrerajulio7139" target="_blank" style="--i:8;"><i class='bx bxl-youtube'></i></a>
      <a href="#" style="--i:9;"><i class='bx bxl-twitch'></i></a>
      <a href="#" style="--i:10;"><i class='bx bxl-discord-alt'></i></a>
      <a href="https://github.com/deivisaherreraj" target="_blank" style="--i:11;"><i class='bx bxl-github'></i></a>
      <a href="https://www.linkedin.com/in/deivisaherreraj" target="_blank" style="--i:12;"><i class='bx bxl-linkedin'></i></a>
    </div>

    <a href="#about" class="btn">Leer Más</a>
  </div>

  <div class="profession-container">
    <div class="overlay"></div>
  </div>

  <div class="home-img">
    <img src="./../../../assets/images/home.png" alt="">
  </div>
</section> -->

<!-- about section desing -->
<!-- <section class="about" id="about">
  <div class="about-img">
    <img src="./../../../assets/images/about.png" alt="">
    <span class="circle-spin"></span>
  </div>

  <div class="about-content">
    <h2 class="heading">Sobre <span>Mí</span></h2>
    <h3>Hola, soy Deivis Andrés Herrera Julio, soy <span class="multiple-text-about"></span></h3>
    <p>Resido en Colombia, ingeniero de sistemas con una sólida experiencia de más de 7 años en el campo
      del desarrollo de software. Mi perfil abarca una amplia gama de habilidades, desde ser un desarrollador Full-Stack
      altamente capacitado hasta un apasionado creador de aplicaciones web y un experto en metodologías DevOps. Mi
      enfoque se basa en la integración de las tecnologías más avanzadas en el ámbito del backend y frontend, lo que me
      ha permitido concebir y ejecutar soluciones digitales de alto calibre. <br><br>Además de mi certificación
      acreditada como
      desarrollador Scrum, mi compromiso con la excelencia técnica y mi pasión por la innovación constante me impulsan a
      superar desafíos y a ofrecer resultados sobresalientes. Mi experiencia como freelance demuestra mi capacidad para
      gestionar proyectos de manera independiente, cumpliendo siempre con plazos y estándares exigentes. Estoy
      emocionado por continuar aportando al mundo del desarrollo de software con soluciones que marquen la diferencia y
      reflejen mi compromiso inquebrantable con la calidad y la innovación.</p>
    <a href="#" class="btn">Descargar CV</a>
  </div>
</section> -->

<!-- home section desing -->
<!-- <section class="education">
  <h2 class="heading">Mi <span>Trayectoria</span></h2>

  <div class="education-row">
    <div class="education-column">
      <h3 class="title">Educación</h3>

      <div class="education-box">
        <div class="education-content">
          <div class="content">
            <div class="year"><i class='bx bxs-calendar'></i> 2017 - 2018</div>
            <h3>Master Degree - University</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto consectetur minima provident ratione modi
              illum officiis ducimus reprehenderit laudantium quos.</p>
          </div>
        </div>
      </div>

      <div class="education-box">
        <div class="education-content">
          <div class="content">
            <div class="year"><i class='bx bxs-calendar'></i> 2018 - 2019</div>
            <h3>Master Degree - University</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto consectetur minima provident ratione modi
              illum officiis ducimus reprehenderit laudantium quos.</p>
          </div>
        </div>
      </div>

      <div class="education-box">
        <div class="education-content">
          <div class="content">
            <div class="year"><i class='bx bxs-calendar'></i> 2019 - 2020</div>
            <h3>Master Degree - University</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto consectetur minima provident ratione modi
              illum officiis ducimus reprehenderit laudantium quos.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="education-column">
      <h3 class="title">Experiencia</h3>

      <div class="education-box">
        <div class="education-content">
          <div class="content">
            <div class="year"><i class='bx bxs-calendar'></i> 2017 - 2018</div>
            <h3>Web Developer - Company</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto consectetur minima provident ratione modi
              illum officiis ducimus reprehenderit laudantium quos.</p>
          </div>
        </div>
      </div>

      <div class="education-box">
        <div class="education-content">
          <div class="content">
            <div class="year"><i class='bx bxs-calendar'></i> 2018 - 2019</div>
            <h3>Web Developer - Company</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto consectetur minima provident ratione modi
              illum officiis ducimus reprehenderit laudantium quos.</p>
          </div>
        </div>
      </div>

      <div class="education-box">
        <div class="education-content">
          <div class="content">
            <div class="year"><i class='bx bxs-calendar'></i> 2019 - 2020</div>
            <h3>Web Developer - Company</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto consectetur minima provident ratione modi
              illum officiis ducimus reprehenderit laudantium quos.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- home section desing -->
<!-- <section class="skills">
  <h2 class="heading">Mis <span>Habilidades</span></h2>

  <div class="skills-row">
    <div class="skills-column">
      <h3 class="title">Habilidades de Codificación</h3>

      <div class="skills-box">
        <div class="skills-content">
          <div class="progress">
            <h3>HTML <span>90%</span></h3>
            <div class="bar"><span></span></div>
          </div>

          <div class="progress">
            <h3>CSS <span>80%</span></h3>
            <div class="bar"><span></span></div>
          </div>

          <div class="progress">
            <h3>JavaScript <span>65%</span></h3>
            <div class="bar"><span></span></div>
          </div>

          <div class="progress">
            <h3>Python <span>75%</span></h3>
            <div class="bar"><span></span></div>
          </div>
        </div>
      </div>
    </div>

    <div class="skills-column">
      <h3 class="title">Habilidades Profesionales</h3>

      <div class="skills-box">
        <div class="skills-content">
          <div class="progress">
            <h3>Web Desing <span>95%</span></h3>
            <div class="bar"><span></span></div>
          </div>

          <div class="progress">
            <h3>Web Development <span>67%</span></h3>
            <div class="bar"><span></span></div>
          </div>

          <div class="progress">
            <h3>Graphic Design <span>85%</span></h3>
            <div class="bar"><span></span></div>
          </div>

          <div class="progress">
            <h3>SEO Marketing <span>60%</span></h3>
            <div class="bar"><span></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- services section desing -->
<!-- <section class="services" id="services">
  <h2 class="heading">Mis <span>Servicios</span></h2>

  <div class="services-container">
    <div class="services-box">
      <i class='bx bx-code-alt'></i>
      <h3>Diseño y Desarrollo de Sitios Web</h3>
      <p>Diseño y construcción de sitios web atractivos y responsive que cumplan con las necesidades y objetivos de tus
        clientes.</p>
      <a href="#" class="btn">Leer Más</a>
    </div>

    <div class="services-box">
      <i class='bx bxs-paint'></i>
      <h3>Aplicaciones Empresariales</h3>
      <p>Desarrollo de aplicaciones personalizadas que mejoren la eficiencia, la gestión de datos y la toma de
        decisiones en entornos empresariales.</p>
      <a href="#" class="btn">Leer Más</a>
    </div>

    <div class="services-box">
      <i class='bx bx-bar-chart-alt'></i>
      <h3>Consultoría Técnica</h3>
      <p>Asesoramiento en la elección de tecnologías, arquitecturas y estrategias de desarrollo adecuadas para proyectos
        específicos.</p>
      <a href="#" class="btn">Leer Más</a>
    </div>
  </div>
</section> -->

<!-- portfolio section desing -->
<!-- <section class="portfolio" id="portfolio">
  <h2 class="heading">Últimos <span>Proyectos</span></h2>
  <div class="portfolio-container">
    <div class="portfolio-box">
      <img src="./../../../assets/images/portfolio1.jpg" alt="">
      <div class="portfolio-layer">
        <h4>Web Desing</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias, officiis?</p>
        <a href="#"><i class='bx bx-link-external'></i></a>
      </div>
    </div>

    <div class="portfolio-box">
      <img src="./../../../assets/images/portfolio2.jpg" alt="">
      <div class="portfolio-layer">
        <h4>Web Desing</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias, officiis?</p>
        <a href="#"><i class='bx bx-link-external'></i></a>
      </div>
    </div>

    <div class="portfolio-box">
      <img src="./../../../assets/images/portfolio3.jpg" alt="">
      <div class="portfolio-layer">
        <h4>Web Desing</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias, officiis?</p>
        <a href="#"><i class='bx bx-link-external'></i></a>
      </div>
    </div>

    <div class="portfolio-box">
      <img src="./../../../assets/images/portfolio4.jpg" alt="">
      <div class="portfolio-layer">
        <h4>Web Desing</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias, officiis?</p>
        <a href="#"><i class='bx bx-link-external'></i></a>
      </div>
    </div>

    <div class="portfolio-box">
      <img src="./../../../assets/images/portfolio5.jpg" alt="">
      <div class="portfolio-layer">
        <h4>Web Desing</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias, officiis?</p>
        <a href="#"><i class='bx bx-link-external'></i></a>
      </div>
    </div>

    <div class="portfolio-box">
      <img src="./../../../assets/images/portfolio6.jpg" alt="">
      <div class="portfolio-layer">
        <h4>Web Desing</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias, officiis?</p>
        <a href="#"><i class='bx bx-link-external'></i></a>
      </div>
    </div>
  </div>
</section> -->

<!-- testimonial section desing -->
<!-- <div class="testimonial-container">
  <h2 class="heading">Valiosos <span>Testimonios</span></h2>

  <div class="testimonial-wrapper">
    <div class="testimonial-box mySwiper">
      <div class="testimonial-content swiper-wrapper">
        <div class="testimonial-slide swiper-slide">
          <img src="./../../../assets/images/testimonial1.jpg" alt="">
          <h3>Jackson Levi</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste facilis, maiores explicabo non doloremque
            dolor nemo vero repudiandae quis mollitia voluptates officiis est ut incidunt soluta ipsum nostrum quasi.
            Aspernatur perferendis fugit dolorum dolores quo, sint obcaecati delectus sapiente facere! Ex rem debitis,
            reiciendis necessitatibus assumenda itaque in nihil veniam, laborum quibusdam quam temporibus
            exercitationem, consequatur tempore optio dolore corrupti!</p>
        </div>
        <div class="testimonial-slide swiper-slide">
          <img src="./../../../assets/images/testimonial2.jpg" alt="">
          <h3>Flora Ocean</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste facilis, maiores explicabo non doloremque
            dolor nemo vero repudiandae quis mollitia voluptates officiis est ut incidunt soluta ipsum nostrum quasi.
            Aspernatur perferendis fugit dolorum dolores quo, sint obcaecati delectus sapiente facere! Ex rem debitis,
            reiciendis necessitatibus assumenda itaque in nihil veniam, laborum quibusdam quam temporibus
            exercitationem, consequatur tempore optio dolore corrupti!</p>
        </div>
        <div class="testimonial-slide swiper-slide">
          <img src="./../../../assets/images/testimonial3.jpg" alt="">
          <h3>Julian Grayson</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste facilis, maiores explicabo non doloremque
            dolor nemo vero repudiandae quis mollitia voluptates officiis est ut incidunt soluta ipsum nostrum quasi.
            Aspernatur perferendis fugit dolorum dolores quo, sint obcaecati delectus sapiente facere! Ex rem debitis,
            reiciendis necessitatibus assumenda itaque in nihil veniam, laborum quibusdam quam temporibus
            exercitationem, consequatur tempore optio dolore corrupti!</p>
        </div>
      </div>

      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div> -->

<!-- contact section desing -->
<!-- <section class="contact" id="contact">
  <h2 class="heading">¡Contácta<span>me!</span></h2>
  <form action="#">
    <div class="input-box">
      <input type="text" placeholder="Nombre completo">
      <input type="email" placeholder="Dirección de correo electrónico">
    </div>
    <div class="input-box">
      <input type="number" placeholder="Número de teléfono móvil">
      <input type="text" placeholder="Asunto del email">
    </div>
    <textarea name="" id="" cols="30" rows="10" placeholder="Tu mensaje"></textarea>
    <input type="submit" value="Enviar mensaje" class="btn">
  </form>
</section> -->