<section id="about" class="py-20 px-6 bg-zinc-800/30">
  <div class="max-w-6xl mx-auto">
    <div [@fadeInUp]="'in'" class="text-center mb-16">
      <h2 class="text-3xl md:text-4xl font-bold mb-4">{{ 'About.Me' | translate }}</h2>
      <div class="w-20 h-1 bg-blue-500 mx-auto"></div>
    </div>

    <div #aboutContent [class.opacity-100]="inView" [class.opacity-0]="!inView"
      class="grid grid-cols-1 md:grid-cols-2 gap-12 items-center transition-opacity duration-1000 ease-out">
      <div [@slideInLeft]="'in'">
        <h3 class="text-2xl font-semibold mb-4">{{ 'About.WhoIAm' | translate }}</h3>
        <p class="text-zinc-300 mb-4">
          {{ 'About.AboutTextOne' | translate }}
        </p>
        <p class="text-zinc-300 mb-6">
          {{ 'About.AboutTextTwo' | translate }}
        </p>
        <div class="pt-4">
          <h3 class="text-xl font-semibold mb-4">
            {{ 'About.MainTechnologies' | translate }}
          </h3>
          <div class="flex flex-wrap gap-4">
            <span *ngFor="let skill of skills" class="px-4 py-2 bg-zinc-700 rounded-full text-sm">
              {{ skill }}
            </span>
          </div>
        </div>
      </div>

      <div [@slideInRight]="'in'" class="grid grid-cols-1 gap-6">
        <div class="bg-zinc-800 p-6 rounded-xl">
          <div class="flex items-start gap-4">
            <div class="p-3 bg-blue-500/20 rounded-lg text-blue-400">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-code" aria-hidden="true" data-id="element-65">
                <path d="m16 18 6-6-6-6"></path>
                <path d="m8 6-6 6 6 6"></path>
              </svg>
            </div>
            <div>
              <h4 class="text-xl font-semibold mb-2">
                {{ 'About.FullStackTitle' | translate }}
              </h4>
              <p class="text-zinc-400">
                {{ 'About.FullStackDescription' | translate }}
              </p>
            </div>
          </div>
        </div>
        <div class="bg-zinc-800 p-6 rounded-xl">
          <div class="flex items-start gap-4">
            <div class="p-3 bg-purple-500/20 rounded-lg text-purple-400">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-users" aria-hidden="true" data-id="element-72">
                <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path>
                <path d="M16 3.128a4 4 0 0 1 0 7.744"></path>
                <path d="M22 21v-2a4 4 0 0 0-3-3.87"></path>
                <circle cx="9" cy="7" r="4"></circle>
              </svg>
            </div>
            <div>
              <h4 class="text-xl font-semibold mb-2">
                {{ 'About.TechnicalLeadershipTitle' | translate }}
              </h4>
              <p class="text-zinc-400">
                {{ 'About.TechnicalLeadershipDescription' | translate }}
              </p>
            </div>
          </div>
        </div>
        <div class="bg-zinc-800 p-6 rounded-xl">
          <div class="flex items-start gap-4">
            <div class="p-3 bg-green-500/20 rounded-lg text-green-400">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-users" aria-hidden="true" data-id="element-72">
                <polyline points="22 7 13.5 15.5 8.5 10.5 2 17"></polyline>
                <polyline points="16 7 22 7 22 13"></polyline>
              </svg>
            </div>
            <div>
              <h4 class="text-xl font-semibold mb-2">
                {{ 'About.OptimizationTitle' | translate }}
              </h4>
              <p class="text-zinc-400">
                {{ 'About.OptimizationDescription' | translate }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>