<footer class="bg-zinc-900 dark:bg-white py-8 px-6 border-t border-zinc-800">
  <div
    class="max-w-6xl mx-auto flex flex-col md:flex-row justify-between items-center">
    <div class="col mb-4 md:mb-0">
      <span
        class="text-xl font-bold bg-gradient-to-r from-blue-500 to-purple-500 bg-clip-text text-transparent">
        deivisaherreraj.dev
      </span>
      <div class="text-zinc-400 text-sm">
        © {{ currentYear }} Deivis Herrera Julio. Todos los derechos reservados.
      </div>
    </div>    
    <div class="col mt-4 md:mt-0">
      <div class="text-zinc-400 hover:text-white transition-colors flex">
        Hecho con
        <svg xmlns="http://www.w3.org/2000/svg"
          class="w-4 text-red-500 mx-1" fill="currentColor"
          viewBox="0 0 24 24">
          <path
            d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 6 4 4 6.5 4c1.74 0
              3.41 1.01 4.13 2.44h.74C14.09 5.01 15.76 4 17.5 4
              20 4 22 6 22 8.5c0 3.78-3.4 6.86-8.55
              11.54L12 21.35z" />
        </svg>
        y mucho café
      </div>
    </div>
  </div>
  <button (click)="scrollToTop()"
    class="fixed bottom-6 right-6 p-3 bg-zinc dark:bg-dark-100 rounded-full shadow-md hover:shadow-lg border border-gray-600 dark:border-gray-800 transition-all hover:transform hover:-translate-y-1"
    aria-label="Desplazarse hacia arriba">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
      viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
      class="lucide lucide-chevron-up">
      <polyline points="18 15 12 9 6 15"></polyline>
    </svg>
  </button>
</footer>